=form_for([@list, @task], :remote => true, :class => "new_task") do |f|
  %p
    = f.label :name, "List Name"
    = f.text_field :name
  %p
    = f.label :description, "Description"
    = f.text_area :description

  %p
    =f.submit :class => "btn"